<h3>changing the y axis label and positing of the chart title and sub title</h3>

<div id="container1"></div>


<h3>chart with mutliple y axis</h3>

<div id="container2"></div>


<h3>chart with linear y axis</h3>

<div id="container3"></div>


<h3>chart with logarthmic y axis</h3>

<div id="container4"></div>

<h3>chart with multi data linear y axis</h3>

<div id="container5"></div>

<h3>chart with roatetd axis labels</h3>

<div id="container6"></div>
<h3>chart with stacked axis labels</h3>

<div id="container7"></div>